@import "../../SCSS/Mixins";

.container {
  @include Desktop() {
    width: 1024px;
    margin: 0 auto;
  }
}
.signupPage {
  display: flex;
  flex-direction: column;
  margin: 15px;
  @include Desktop() {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "LeftSide RightSide";
    grid-gap: 0;
  }
}
.formGroup {
  @include Desktop() {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    margin: 0 auto;
  }

  .Emailform,
  .Usernameform {
    width: 100%;
  }
  .PasswordForm {
    width: 100%;
    @include Desktop() {
      width: 48%;
      margin-right: 4%;
    }
  }

  .RewritePasswordForm {
    width: 100%;
    @include Desktop() {
      width: 48%;
    }
  }
  .button {
    width: 150px;
    height: 50px;
    margin: 15px 15px 0 0;
    background-color: rgb(65, 100, 255);
    color: rgb(253, 253, 253);
  }
  .button:hover {
    background-color: rgb(65, 84, 255);

    box-shadow: 0px 2px 10px rgb(157, 157, 158);
  }
  .already {
    margin-top: 0px;
    text-align: center;
  }
}

.formContainer {
  @include Desktop() {
    grid-area: LeftSide;
    background-color: #fbfbfb;
    box-shadow: 0px 0px 15px rgb(170, 170, 170);

    height: fit-content;
    width: auto;
    padding: 20px 0px;
    border-radius: 10px;
    margin-top: 50px;
  }

  .headContainer {
    text-align: center;
  }

  .text {
    font-size: 28px;
    font-weight: bold;
    color: rgb(25, 25, 46);
    padding-bottom: 0px;
    color: rgb(240, 108, 136);
  }
}
.ImageContainer {
  width: 100%;
  @include Desktop() {
    grid-area: RightSide;
    width: 100%;
  }
  .image {
    width: 100%;

    @include Desktop() {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
}
